*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    border-bottom: 1px solid gray ;
    float: left;
    width: 100%;
}
.header{
    float: left;
    width: 96%;
    margin: 2%;
    position: relative;
}
.head1{
    display: inline;
}

.head2{
    position: absolute;
    right: 0;
    
}
ul{
    margin: 1%;
    list-style-type: none;
    float: left;
}
.nav_ele{
    float: left;
    margin: 2px 15px 10px 10px;
}

.p_list{
    padding: 3px;
    display: none;
    position: absolute;
    top: 6;
    left: 1;
    background-color: rgba(255, 247, 247, 0.701);
    border: 0.5px lightgray;
}
li{
    padding: 5px 0px;
    color: (23, 23, 56);

}

.nav_ele:hover .p_list{
    display: block;
}

.pro{
    float: left;
    position: relative;
}

.newbtn{
    color: white;
    background-color: rgb(23, 23, 56);
    border: none;
    padding: 6px 20px;
}

.tablecontainer{
    float: left;
    width: 92%;
    margin: 2%;
    border: 1px solid lightgray;
    padding: 2px 20px ;
    border-radius: 10px;
}

.loadbtn{
    color: white;
    background-color: grey;
    border: none;
    padding: 6px 12px;
    margin-bottom: 10px;

}

.form_container{
    width: 96%;
    margin: 2%;

}
.row{
    width: 100%;
    float: left;

}
.inputs {
    float: left;
    width: 29.33%;
    margin: 2%;
}

input, select, textarea{
    margin: 6px 0px;
    width: 300px;
    padding: 6px 2px;
}
label{
    display: block;
}

.diff{
    display: inline;
    width: 12%;
    margin: 16px 0px;
}

.btns{
    float: right;
}

.cancel{
    float: left;
    color: rgb(17, 17, 36);
    background-color: white;
    border: none;
    padding: 6px 24px;
    margin: 6px 2px;
}

.save{
    float: left;
    border: none;
    color: white;
    background-color: rgb(17, 17, 36);
    padding: 6px 24px;
    margin: 6px 2px;
}
.logo{
    height: 50px;
    width: 200px;
    /* margin: 2px 50px 2px 5px; */

}

img{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    float:left
}

.username{
    float: left;
    margin: 3px 6px;
}

.id{
    color: rgb(81, 81, 215);
    font-weight: bold;
    font-size: 9pt;

}
.delivered{
    background-color: rgb(96, 186, 96);
    border-radius: 25px;
    display: inline-block;
    padding: 4px 20px;
    color: white;
    font-size: 10pt;
    width: 80px;

}

.pickup{
    background-color: rgb(151, 45, 197);
    border-radius: 25px;
    display: inline-block;
    padding: 4px 20px;
    color: white;
    font-size: 10pt;
    width: 80px;
}

.transit{
    background-color: rgb(49, 159, 227);
    border-radius: 25px;
    display: inline-block;
    padding: 4px 20px;
    color: white;
    font-size: 10pt;
    width: 80px;
}

.damaged{
    background-color: rgb(212, 29, 29);
    border-radius: 25px;
    display: inline-block;
    padding: 4px 20px;
    color: white;
    font-size: 10pt;
    width: 80px;
}

.status{
    text-align: left;
    padding-left: 55px;
}

.wider{
    width: 8%;
}

.col{
    width: 3%;
}

tr{
    height: 40px;
    color: rgb(152, 144, 144);
}
th{
    text-align: left;
    color: black;
    padding: 18px 2px;
}

td{
    font-size: 10pt;
}

.alt{
    background-color: rgb(248, 248, 248);
}

.btn{
    text-align: center;
    margin: 20px 0px;
}

.load{
    background-color: rgb(36, 107, 206);
    padding: 10px 30px;
    border: none;
    color: white;
}